@import url(reset.css);

body {
	background: #ccc;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.block-1 {
	font-size: 0;
	background: yellowgreen;
}

.block-1>p {
	display: inline-block;
	font-size: 20px;
	padding: 20px;
	width: 400px;
	height: 400px;
	outline: 2px solid red;
}

.block-2 {
	font-size: 0;
	background: #bb3c3c;
}

.block-2-parent {
	display: inline-block;
	font-size: 20px;
	width: 800px;
	outline: 2px solid violet;
	vertical-align: top;
}

.block-2-parent p {
	outline: 2px solid blue;
}

.block-2-item {
	width: 397px;
}
.h-150{
	height: 150px;
}
.h-200{
	height: 200px;
}
.h-260{
	height: 260px;
}